.home-container {
  background-image: url('https://images.pexels.com/photos/5632402/pexels-photo-5632402.jpeg');
  background-size: cover;
  background-position: center; 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

